@{
    ViewData["Title"] = "Strona główna";
}

<h1 class="text-center">RealEstates</h1>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="main-description p-5">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mt-5 secondary-description">

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/ogłoszenia.png" class="card-img-top" alt="card-gym" >
                <div class="card-body">
                    <h4 class="card-title">Aktualne ogłoszenia</h4>
                    <p class="card-text">
                        <ul>
                            <li>Nieruchomości z całego świata</li>
                            <li>Duży wybór nieruchomości</li>
                            <li>Tylko aktualne ogłoszenia</li>
                        </ul>
                    </p>
                    <a href='Announcement/Announcements' class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/dodawanie.png" class="card-img-top" alt="card-gym" >
                <div class="card-body">
                    <h4 class="card-title">Szybkie dodawanie ogłoszeń</h4>
                    <p class="card-text">
                       <ul>
                            <li>Darmowe dodawanie ogłoszeń</li>
                            <li>Krótki czas akceptacjii ogłoszenia</li>
                            <li>Nielimitowana liczba ogłoszeń</li>
                        </ul>
                    </p>
                    <a href='Announcement/AddAnnouncement' class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0 m-5">
                <img src="~/images/panel.png" class="card-img-top" alt="card-gym" >
                <div class="card-body">
                    <h4 class="card-title">Podgląd ogłoszeń w panelu użytkownika</h4>
                    <p class="card-text">
                        <ul>
                            <li>Lista twoich aktualnych ogłoszeń</li>
                            <li>Edycja ogłoszeń</li>
                            <li>Usuwanie ogłoszeń</li>
                        </ul>
                    </p>
                    <a href="Client/Dashboard" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


